<h1>Project 2</h1>

<ol>
  <li>Installed bootstrap framework</li>
  <li>Imported bootstrap in application.css.scss</li>
  <li>Modified routes.rb to allow access to Project 2 page</li>
  <li>Edited projects.yml so the hyperlink would function</li>
  <li>Edited this page to have a list of what I've done</li>
</ol>